/******* background *********/
body {
    background: url(../images/fond-contact.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
}

body > a,
a,
header > a,
.nav-title {
    color: white;
}

/**** main ***********/

main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

/****** contact *******/

.card-localisation {
    width: 60%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 15px 15px 30px -10px black;
    padding: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.667);
    backdrop-filter: blur(10px);
}

.card-localisation-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.card-localisation-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-localisation-map {
    position: relative;
    top: -50px;
    left:200px;
    border-radius: 15px;
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.667);
    backdrop-filter: blur(10px);
}

/****** Form ******/

.card-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    width: 50%;
    border: 1px solid grey;
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.667);
    box-shadow: 15px 15px 30px -10px black;
    backdrop-filter: blur(10px);
}

.card-form-header {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.form-choice > fieldset {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    padding: 15px;
    width: 100%;
}

.form-choice > fieldset > .list-group-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

.form-choice > fieldset > .group-radio {
    display: inline;
    border: none;
}

.form-choice > fieldset > legend {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

form > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.form-text {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.form-text-label {
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.form-text > div {
    margin: 2%;
}

#text-contact {
    width: 20rem;
    border-radius: 15px;
    resize: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    height: 150px;
}

form input[type="text"] {
    width: 150px;
    border: none;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 5000px;
    margin: 1rem;
    height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px;
    backdrop-filter: blur(20px);
    background: none;
    border-left: 1px solid rgba(255, 255, 255, 0.667);
    border-top: 1px solid rgba(255, 255, 255, 0.667);
}

form input[type="text"]::placeholder {
    color: white;
    font-weight: bold;
}

form button {
    border: none;
    border-left: 1px solid grey;
    border-radius: 5000px;
    box-shadow: 2px 2px 15px grey;
    padding: 1rem;
    width: 200px;
    margin-bottom: 10px;
    background: none;
    backdrop-filter: blur(20px);
    color: white;
    font-weight: bold;
}

form button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
}

/****** Responsive small device **********/

@media ( max-width: 768px ), (max-height: 370px)  {
    body {
        margin: 0;
    }
    
    header {
        color: black;
    }

    .container {
        padding-top: .5rem;
    }

    main {
        margin-bottom: 2rem;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        background-color: none;
        box-shadow: none;
        padding-top: 1rem;
    }

    .nav-list,
    .container-list {
        display: none;
    }

    .container-responsive {
        display: flex;
    }

    .navbar-container > .container-list {
        display: none;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }

    .menu-responsive-list {
        display: none;
        animation: openMenuSmallDevice .5s ease-in;
    }

    .menu-active {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50vw;
        background-color: rgba(255, 255, 255, 0.769);
        z-index: 10;
    }

    .position-close-button {
        margin-top: .5rem;
        padding-top: 1rem;
        padding-right: .5rem;
    }

    .close-button {
        display: block;
        animation: displayCloseButton .9 ease-in 1.2s forwards;
    }

    .close-button:hover {
        cursor: pointer;
    }

    .nav-list-responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-list-responsive > li {
        padding: 5%;
        border-bottom: 1px solid lightgray;
    }

    .hide-menu-button {
        opacity: 0;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
    }
}

/****** Orientation landscape ************/

@media ( (max-height: 370px) and (orientation: landscape))  {
    header {
        color: black;
    }

    .container {
        padding-top: .5rem;
    }

    main {
        margin-bottom: 2rem;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        background-color: none;
        box-shadow: none;
        padding-top: 1rem;
    }

    .nav-list,
    .container-list {
        display: none;
    }

    .container-responsive {
        display: flex;
    }

    .navbar-container > .container-list {
        display: none;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }

    .menu-responsive-list {
        display: none;
        animation: openMenuSmallDevice .5s ease-in;
    }

    .menu-active {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50vw;
        background-color: rgba(255, 255, 255, 0.769);
        z-index: 10;
    }

    .position-close-button {
        margin-top: .5rem;
        padding-top: 1rem;
        padding-right: .5rem;
    }

    .close-button {
        display: block;
        animation: displayCloseButton .9 ease-in 1.2s forwards;
    }

    .close-button:hover {
        cursor: pointer;
    }

    .nav-list-responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-list-responsive > li {
        padding: 5%;
        border-bottom: 1px solid lightgray;
    }

    .hide-menu-button {
        opacity: 0;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
    }
}

/************ Animation ****************/

@keyframes openMenuSmallDevice {
    from {
        position: fixed;
        right: -50vw;
    }
    to {
        position: fixed;
        right: 0;
    }
}

@keyframes displayCloseButton {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
