@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    background: url('../images/fond_index.jpg') no-repeat center fixed;
    background-size: cover;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

header {
    height: 6rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

/******* Navbar *******/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 3rem;
    font-size: 2rem;
}

nav li {
    list-style: none;
}

.navbar-container {
    width: 100%;
    background-color: rgb(70, 67, 67, 0.5);
    box-shadow: 4px 4px 20px rgb(28, 27, 27);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}

/************** main *******************/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
}

.slogan {
    height: 100%;
    width: 50%;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    opacity: 0;
    animation: .7s ease-in .8s fadeIn forwards;
}

.status {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    opacity: 0;
    animation: 1.2s ease-in 1s fadeInFromLeft forwards;
}

/************** footer *****************/

.card-container {
    width: 100%;
    background-color: rgba(97, 93, 93, 0.5);
}

/************** animations *************/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        margin-left: -30px;
    }
    to {
        opacity: 1;
        margin-left: 5rem;
    }
}

@keyframes responsive {
    from {
        opacity: 0;
        background: none;
    }
    50% {
        background: url('../images/fond-responsive.jpg') no-repeat left fixed;
        background-size: cover;
    }
    to {
        opacity: 1;
    }
}

/************* responsive **************/

/******** Menu *******/

/******** Body *******/

@media ( max-width: 732px) {
    body {
        background: url('../images/fond-responsive.jpg') no-repeat left fixed;
        background-size: cover;
        color: black;
        animation: responsive .5s ease-in forwards;
    }


    a {
        text-decoration: none;
        color: black;
    }

    .nav-link {
        text-decoration: none;
        color: black;
        font-family: 'Dancing Script', cursive;
    }
}

/******** Phone **********/
@media ( max-width: 400px ) {
    body {
        background: url('../images/fond-responsive.jpg') no-repeat center fixed;
        background-size: cover;
        color: black;
        animation: responsive .5s ease-in forwards;
    }

    main {
        justify-content: flex-end;
    }

    main > div {
        transform: translateX(-15%);
    }

    main > div > p:first-child {
        margin-left: 4rem ;
    }

    main > div > p:nth-child(2) {
        margin-left: 8rem ;
    }

    main > div > p:last-child {
        margin-left: 4rem;
        padding-left: 0;
    }

    main > div > p:nth-child(3) {
        margin-left: 2rem !important;
        padding-bottom: 10px;
        margin-top: 0;
    }
}
