@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

/**** main ***********/

main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1em;
}

.parallax,
.parallax2 {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.parallax {
    background-image: url("../images/header.jpg");
}

.parallax2 {
    background-image: url("../images/parallax2.jpg");
}

.container-parallax {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 30%;
    background: rgba(255, 255, 255, 0.386);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: rgb(31, 30, 30);
    margin: 2rem;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-header > p {
    margin: 0;
}

.card-header::after {
    margin-top: 1rem;
    display: block;
    content: "";
    border-top: 1px solid white;
    height: 1px;
    width: 100%;
}

main .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

/************** footer *****************/

footer > .card-container {
    width: 100%;
    background-color: rgba(97, 93, 93, 0.5);
    border-radius: 0;
    margin: 0;
}


/****** Responsive small device **********/

@media ( max-width: 855px ), (max-height: 370px)  {
    body {
        margin: 0;
    }
    
    header {
        color: black;
    }

    .container {
        padding-top: .5rem;
    }

    main {
        margin-bottom: 2rem;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        background-color: none;
        box-shadow: none;
        padding-top: 1rem;
    }

    .nav-list,
    .container-list {
        display: none;
    }

    .container-responsive {
        display: flex;
    }

    .navbar-container > .container-list {
        display: none;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }

    .menu-responsive-list {
        display: none;
        animation: openMenuSmallDevice .5s ease-in;
    }

    .menu-active {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50vw;
        background-color: rgba(255, 255, 255, 0.769);
        z-index: 10;
    }

    .position-close-button {
        margin-top: .5rem;
        padding-top: 1rem;
        padding-right: .5rem;
    }

    .close-button {
        display: block;
        animation: displayCloseButton .9 ease-in 1.2s forwards;
    }

    .close-button:hover {
        cursor: pointer;
    }

    .nav-list-responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-list-responsive > li {
        padding: 5%;
        border-bottom: 1px solid lightgray;
    }

    .hide-menu-button {
        opacity: 0;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
    }

    .nav-list-responsive > li > a {
        color: black;
    }

    .container-parallax {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card {
        width: 70%;
    }

}

/****** Orientation landscape ************/

@media ( (max-height: 370px) and (orientation: landscape))  {
    header {
        color: black;
    }

    .container {
        padding-top: .5rem;
    }

    main {
        margin-bottom: 2rem;
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;
        background-color: none;
        box-shadow: none;
        padding-top: 1rem;
    }

    .nav-list,
    .container-list {
        display: none;
    }

    .container-responsive {
        display: flex;
    }

    .navbar-container > .container-list {
        display: none;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }

    .menu-responsive-list {
        display: none;
        animation: openMenuSmallDevice .5s ease-in;
    }

    .menu-active {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50vw;
        background-color: rgba(255, 255, 255, 0.769);
        z-index: 10;
    }

    .position-close-button {
        margin-top: .5rem;
        padding-top: 1rem;
        padding-right: .5rem;
    }

    .close-button {
        display: block;
        animation: displayCloseButton .9 ease-in 1.2s forwards;
    }

    .close-button:hover {
        cursor: pointer;
    }

    .nav-list-responsive {
        display: flex;
        flex-direction: column;
    }

    .nav-list-responsive > li {
        padding: 5%;
        border-bottom: 1px solid lightgray;
    }

    .hide-menu-button {
        opacity: 0;
    }

    footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
    }
}

/************ Animation ****************/

@keyframes openMenuSmallDevice {
    from {
        position: fixed;
        right: -50vw;
    }
    to {
        position: fixed;
        right: 0;
    }
}

@keyframes displayCloseButton {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes FadeInVideo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}